body {
  margin: 0;
  padding: : 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}
.catalog-page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.visialy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.nav-background {
  background-color: #eeeeee;
}
.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}
.main-header-logo img:active {
  opacity:0.3;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}
.site-current a {
  border-bottom: 1px solid #fb565a;
}
.slider-list {
  list-style: none;
}
.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button:hover {
  background-color: #e74246;
}
.button:focus {
  background-color: #d7373b;
  opacity: 0.3;
}
.servise-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.self-slogan b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.self-promo-list {
  list-style: none;
}
.worklist {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.atall {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.selfnumbers-item {
  list-style: none;
}
.selfnumbers-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}
.selfnumbers-item b {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}
.selfnumbers-item sup {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}
.done-project-list {
  list-style: none;
}
.done-project-item {
  opacity: 0.2;
}
.done-project-item:hover {
  opacity: 1.0;
}
.done-project-item:active {
  opacity: 0.1;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.filters-item {
  border: none;
}
.filters-item legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.filters-item ul {
  list-style: none;
  line-height: 20px;
}
.filters-option {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}
.filters-option:hover {
  color:#000000;
}
.filters-option:disabled {
  color: #283136;
  opacity: 0.3;
}
.sort h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.sort ul {
  list-style: none;
}
.sort-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}
.sort-list-current a {
  opacity: 1;
}
.sort-down,
.sort-up {
  font-size: 0px;
}
.catalog-list {
  list-style: none;
}
.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.catalog-item h3 a {
  color: #000000;
}
.catalog-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.button-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.pagination-list {
  list-style: none;
}
.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
.map-contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.map-contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.footer-social ul {
  list-style: none;
}
.social-button {
  font-size: 0px;
}
.befriends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.feedback b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.feedback-form-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.feedback-form-item input,
.feedback-form-item textarea {
  font:inherit;
  font-weight: 400;
  color: #444444;

  background-color: transparent;
  border: 1px solid #444444;
  opacity: 0.5;
}
