body {
  margin: 0;
  padding: : 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}
.catalog-page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.visialy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.nav-background {
  background-color: #eeeeee;
}
.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}
.main-header-logo img:active {
  opacity:0.3;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}
.site-current a {
  border-bottom: 1px solid #fb565a;
}
.slider-list {
  list-style: none;
}
.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.servise-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.self-slogan b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.self-promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.worklist {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.atall {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.selfnumbers-item {
  list-style: none;
}
.selfnumbers-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}
.selfnumbers-item b {
  font-size: 45px;
  line-height: 10.6px;
  font-weight: 700;
  color: #000000;
}
.selfnumbers-item sup {
  font-size: 24px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}
.done-project-list {
  list-style: none;
}
.done-project-item {
  opacity: 0.2;
}
.done-project-item:hover {
  opacity: 1.0;
}
.done-project-item:active {
  opacity: 0.1;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.filters-item {
  border: none;
}
.filters-item legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.filters-item ul {
  list-style: none;
  line-height: 20px;
}
.filters-option {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}
.filters-option:hover {
  color:#000000;
}
.filters-option:disabled {
  color: #283136;
  opacity: 0.3;
}
.sort h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.sort ul {
  list-style: none;
}
.sort-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}
.sort-list-current a {
  opacity: 1;
}
.sort-down,
.sort-up {
  font-size: 0px;
}
.catalog-list {
  list-style: none;
}
.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.catalog-item h3 a {
  color: #000000;
}
.catalog-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.button-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.pagination-list {
  list-style: none;
}
.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}
.pagination-list a:hover {
  background-color: #dfdfdf;
}
.map-contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.map-contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.footer-social ul {
  list-style: none;
}
.befriends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.feedback b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.feedback-form-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.feedback-form-item input,
.feedback-form-item textarea {
  font:inherit;
  font-weight: 400;
  color: #444444;

  background-color: transparent;
  border: 1px solid #444444;
  opacity: 0.5;
}
/*начинаются флексы*/
.body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 2476px;
}
.nav-background {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 118px;
}
.main-nav {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: row;
  min-width: 1440px;
  min-height: 118px;
}
.main-nav a {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 78px;
  margin-top: 50px;
  margin-left: 140px;
}
.site-navigation {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  min-height: px;
  margin-top: 75px;
  margin-left: 202px;
}
.site-navigation a {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 46px;
}
.user-navigation {
  margin:0;
  padding: 0;

  margin-top: 75px;
  margin-left: 59px;
}
.box-link {
  margin: 0;
  padding: 0;
}
.user-navigation a:before {
 content:url(../svg/cart.svg);
 margin-right: 25px;
 margin-top: 77px;
 box-sizing: border-box;
 position: relative;
 top: 2px;
}
.center {
  width: 1200px;
  margin: 0 140px;
  padding: 0 0;
  box-sizing: border-box;
}
.slider {
  position: relative;

  background-color: #eeeeee;
  margin-bottom: 78px;
}
.slider-item {
  display: none;
  padding: 64px 0 82px 0;
}

.slider-item:nth-child(1) {
  display: block;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;

  width: 18px;
  height: 18px;

  background: #ffffff;
}
.slider-controls {
  position: absolute;
  left: 51.2%;
  bottom: 108px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 86% 4px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
.servises-main {
  width: 1160px;
  margin: 0 auto;
}
.servises-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px
}
.servise-item {
  flex-basis: 300px;
  margin-left: 16px;
}
.servise-item +li {
  margin-left: 100px;
}
.servise-item img {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
.servise-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.servise-item p{
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.button-servis-sites {
  width: 160px;
  padding: 16px 0;
  line-height: 18px;
  font-weight: 500;
}
.button-servis-apps {
  width: 160px;
  padding: 16px 0;
  background-color: #17cf81;
  line-height: 18px;
  font-weight: 500;
}
.button-servis-presentation {
  width: 160px;
  padding: 16px 0;
  background-color: #efc84a;
  line-height: 18px;
  font-weight: 500;
}
.self-promo {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  margin-bottom: 49px;
}
.line-between {
  width: 1160px;
  height: 2px;
  margin:0;
  background-color: #eeeeee;
  margin-bottom: 40px;
  margin-left: 140px;
}
.conteiner-promo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: 1200px;

  margin: 0;
  padding: 0;
}
.conteiner-left {
  margin: 0;
  padding: 0;
  flex-basis: 660px;
  margin-left: 36px;
  margin-top: 18px;
  margin-right: 140px;
}
.self-slogan {
  margin-bottom: 33px;
}
.worklist {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 39px;
  margin-bottom: 24px;
}
.self-promo-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.self-promo-list li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  margin-bottom: 2px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.conteiner-right {
  margin: 0;
  padding: 0;
  flex-basis: 300px;

}
.atall {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 18px;
  margin-bottom: 42px;
}
.selfnumbers-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
}
.selfnumbers-list li {
  margin: 0;
  padding: 0;
  margin-right: 22px;
}
.secstrafe {
  margin: 0;
  padding: 0;
  margin-top: 22px;
}
.done-project {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}
.done-project-list {
  margin: 0;
  padding: 0;

  width: 1160px;
  height: 180px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;

  margin-left: 16px;
  margin-bottom: 80px;
}
.done-project-item {
  margin: 0;
  padding: 0;

  margin-right: 40px;
}
.map-container {
  width: 1160px;
  height: 416px;
  margin: 0 auto;
  padding: 0 0;

  margin-bottom: 68px;

}
.map img {
  position: absolute;
  z-index: -1;
}
.map-contacts {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 310px;

  background-color: #ffffff;

  position: relative;
  top: 54px;
  left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.map-contacts p {
  margin-left: 50px;
}
.map-strafe1 {
  margin-top: 50px;
  margin-bottom: 6px;
}
.map-strafe2 {
  margin-bottom: 2px;
}
.map-contacts a {
  width: 220px;

  margin-left: 50px;
  margin-top: 22px;
}
.feedback {
  display: none;
}
.footer-center {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}
.footer-social {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-left: 16px;
  margin-right: 130px;
}
.social-list li {
  width: 80px;
  height: 80px;

  margin-right: 10px;
}
.button-vk {
  width: 80px;
  height: 80px;

  font-size: 0px;

  border-radius: 50px;

  background-color: #e1e1e1;
  background-image: url(../svg/vk-icon.svg);
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
}
.button-fb {
  width: 80px;
  height: 80px;

  font-size: 0px;

  border-radius: 50px;

  background-color: #e1e1e1;
  background-image: url(../svg/fb-icon.svg);
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
}
.button-inst {
  width: 80px;
  height: 80px;

  font-size: 0px;

  border-radius: 50px;

  background-color: #e1e1e1;
  background-image: url(../svg/insta-icon.svg);
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
}
.social-slogan p {
  margin: 0;
  padding: 0;

  margin-top: 8px;
  margin-bottom: 8px;
}
